.container {
  background: #fff;
  padding: 35px 80px 35px 80px;
  height: calc(100vh - 110px);
  overflow: scroll;
}

.inner {
  margin: 20px;
  padding: 40px;

}

.inner Button {
  margin-bottom: 15px;

}


Alert {
  margin-bottom: 5px;
}

.btngroup {
  width: 450px;
  margin-top: 10px;
  text-align: center;
}
