.container {
  background: #fff;
  padding: 24px;
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

#graphin-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.graphin-core {
  height: 100%;
  width: 100%;
  min-height: 500px;
  background: #fff;
}
