.hello-world {
  background: #fff;
  padding: 24px;
  height: calc(100vh - 110px - 65px);
  overflow-y: scroll;
}

.hello-world::-webkit-scrollbar {
  display: none;
}

.cover {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
}

Button {
  margin-right: 5px;
}

Alert {
  margin-bottom: 5px;
}

.btngroup {
  width: 450px;
  margin-top: 10px;
  text-align: center;
}
